$colorBody: #fefcff;
$colorWhite: #fff;
$colorBlack: #000;
$colorPink: #ef5369; 
$colorGray: #ccc;
$colorDarkGray: #393939;

$bgTranslucentBlack: rgba(0, 0, 0, .7);

$borderRadiusVal: 4px;

$zIndex-1: 999;